* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

@font-face {
    font-family: 'PTRootUIWebBold';
    src: url('./fonts/PT-Root-UI/pt-root-ui_bold.woff2') format('woff2'), url('./fonts/PT-Root-UI/pt-root-ui_bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PTRootUIWebMedium';
    src: url('./fonts/PT-Root-UI/pt-root-ui_medium.woff2') format('woff2'), url('./fonts/PT-Root-UI/pt-root-ui_medium.woff') format('woff');
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: 'PTRootUIWebRegular';
    src: url('./fonts/PT-Root-UI/pt-root-ui_regular.woff2') format('woff2'), url('./fonts/PT-Root-UI/pt-root-ui_regular.woff') format('woff');
    font-weight: regular;
    font-style: normal;
}

.consult_box {
    width: 570px;
    height: 736px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.block_1 {
    padding-top: 50px;
    width: 430px;
    height: 144px;
    color: var(--1, #383838);
    font-family: "PTRootUIWebBold";
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px;
}

.block_2 {
    text-align: start;
    padding-left: 20px;
    color: var(--7, #0046BB);
    font-family: "PTRootUIWebRegular";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    border-radius: 30px;
    border: 1px solid var(--7, #0046BB);
    background: var(--4, #FFF);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 410px;
    height: 54px;
}

.block_2_ {
    text-align: start;
    padding-left: 20px;
    color: var(--7, #0046BB);
    font-family: "PTRootUIWebRegular";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    border-radius: 30px;
    background: var(--4, #FFF);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 54px;
}

.block_3 {
    text-align: start;
    padding-left: 20px;
    width: 410px;
    height: 54px;
    color: var(--7, #0046BB);
    font-family: "PTRootUIWebRegular";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    border-radius: 30px;
    border: 1px solid var(--7, #0046BB);
    background: var(--4, #FFF);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.block_4 {
    padding-left: 20px;
    width: 430px;
    height: 150px;
    border-radius: 30px;
    color: var(--7, #0046BB);
    font-family: "PTRootUIWebRegular";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    border: 1px solid var(--7, #0046BB);
    background: var(--4, #FFF);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.block_5 {
    width: 430px;
    height: 54px;
    border-radius: 30px;
    font-family: "PTRootUIWebRegular";
    background: var(--7, #0046BB);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.block_6 {
    width: 430px;
    height: 40px;
    color: var(--1, #383838);
    font-family: "PTRootUIWebRegular";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.block_6_ {
    color: var(--1, #383838);
    font-family: "PTRootUIWebRegular";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-decoration-line: underline;
}

.txt_decor_5 {
    color: var(--4, #FFF);
    font-family: "PTRootUIWebRegular";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
}

.block_text_1 {
    color: var(--7, #0046BB);
    font-family: "PTRootUIWebRegular";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    border-radius: 30px;
    border: 1px solid var(--7, #0046BB);
    background: var(--4, #FFF);
    /* 150% */
}

.center {
    padding-left: calc(50% - 960px);
    padding-right: calc(50% - 960px);
}

.body {
    background-color: #FFF;
}

.input {
    text-align: center;
    color: var(--7, #0046BB);
    font-family: "PTRootUIWebRegular";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.head {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1920px;
}

.head_block {
    width: 682px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.main__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1170px;
}

.text__header {
    color: var(--1, #383838);
    font-family: 'PTRootUIWebBold';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.info {
    display: flex;
    justify-content: space-between;
    width: 682px;
}

.info_tools {
    display: flex;
    align-items: center;
    gap: 15px;
}

.info_data {
    display: flex;
    justify-content: space-between;
    width: 400px;
}

.mail_img {
    background-image: url('./Img/Message.svg'), url('./Img/Main_menu_elips.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    width: 22px;
    height: 22px;
}

.number_img {
    background-image: url('./Img/Call.svg'), url('./Img/Main_menu_elips.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    width: 22px;
    height: 22px;
}

.mail {
    width: 150px;
    display: flex;
    gap: 15px;
}

.number {
    width: 200px;
    display: flex;
    gap: 15px;
}

.head_menu {
    width: 682px;
    display: flex;
    justify-content: space-between;
    /* 150% */
}

.call_button_ {
    color: var(--4, #FFF);
    font-family: "PTRootUIWebBold";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

a:hover {
    color: rgb(247, 6, 6);
}

a {
    color: var(--1, #383838);
    font-family: "PTRootUIWebBold";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.split_line {
    background: var(--8, #E6EDF8);
    width: 682px;
    height: 1px;
    flex-shrink: 0;
}

.call_button {
    border-radius: 30px;
    background: var(--7, #0046BB);
}

.call_but_text {
    color: var(--4, #FFF);
    font-family: "PTRootUIWebBold";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    display: inline-flex;
    padding: 15px 35px;
    align-items: flex-start;
    gap: 10px;
}

.banner__block {
    width: 1920px;
    height: 600px;
    background: url('./Img/home_1.svg'), url('./Img/sky.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    margin-bottom: 60px;
}

.banner__blocks {
    padding: 101px 1008px 0px 458px;
}

.block_h1 {
    color: var(--4, #FFF);
    /* Н-1 */
    font-family: "PTRootUIWebRegular";
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px;
    /* 112.5% */
}

.block_h2 {
    padding: 20px 0 40px 0;
    color: var(--4, #FFF);
    font-family: "PTRootUIWebRegular";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 140% */
}

.block_button {
    width: 259px;
}

.first_txt_block {
    padding: 60px 90px 40px 90px;
}

.txt_in_window {
    padding: 40px 90px 60px 90px;
}

.txt_decor_in_window {
    color: var(--1, #383838);
    /* Основной текст */
    font-family: "PTRootUIWebRegular";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}


/* Кнопка для открытия */

.css-modal-open {
    display: inline-flex;
    padding: 15px 35px;
    align-items: flex-start;
    color: var(--7, #0046BB);
    font-family: "PTRootUIWebBold";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
}

.css-modal-open:hover,
.css-modal-open:active,
.css-modal-open:focus {
    color: #46ac5f;
}

.css-modal-open:hover:before,
.css-modal-open:active:before,
.css-modal-open:focus:before {
    transform: translateX(0);
}


/* Контейнер, который затемняет страницу */

.css-modal-target {
    display: none;
}

.css-modal-target:target {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    animation: bg 0.5s ease;
    background: rgba(39, 39, 39, 0.5);
}


/* Модальное окно */

.css-modal-target .cmt {
    font-family: "PTRootUIWebBold";
    /* padding: 20px; */
    /* height: 2944px; */
    z-index: 8;
    max-width: 1170px;
    max-height: 100%;
    transition: 0.5s;
    /* border: 6px solid #BFE2FF; */
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2), 0 16px 20px rgba(0, 0, 0, 0.2);
    text-align: start;
    overflow: auto;
    animation: scale 0.5s ease;
}


/* Кнопка с крестиком закрывающая окно */

.css-modal-close {
    position: relative;
    display: block;
}

.css-modal-close:after {
    content: "";
    width: 20px;
    height: 20px;
    position: fixed;
    z-index: 10;
    top: 20px;
    right: 100px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2), 0 16px 20px rgba(0, 0, 0, 0.2);
    background-image: url("./Img/close_1.svg");
    background-color: #FFF;
    background-size: cover;
    animation: move 0.5s ease;
}

.css-modal-close:before {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    content: "";
    cursor: default;
}


/* Анимации */

@keyframes scale {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes move {
    0% {
        right: -80px;
    }

    100% {
        right: 20px;
    }
}

@keyframes bg {
    0% {
        background: rgba(51, 122, 183, 0);
    }

    100% {
        background: rgba(39, 39, 39, 0.5);
    }
}


/* Кнопка для открытия */

.consult_modal-open {
    display: inline-flex;
    padding: 15px 35px;
    align-items: flex-start;
    color: var(--7, #0046BB);
    font-family: "PTRootUIWebBold";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
}

.consult_modal-open:hover,
.consult_modal-open:active,
.consult_modal-open:focus {
    color: #0a0a0a;
}

.consult_modal-open:hover:before,
.consult_modal-open:active:before,
.consult_modal-open:focus:before {
    transform: translateX(0);
}


/* Контейнер, который затемняет страницу */

.consult_modal-target {
    display: none;
}

.consult_modal-target:target {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    animation: bg 0.5s ease;
    background: rgba(39, 39, 39, 0.5);
}


/* Модальное окно */

.consult_modal-target .consult_cmt {
    font-family: "PTRootUIWebBold";
    z-index: 8;
    max-width: 1170px;
    max-height: 100%;
    transition: 0.5s;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2), 0 16px 20px rgba(0, 0, 0, 0.2);
    text-align: start;
    overflow: auto;
    animation: scale 0.5s ease;
}


/* Кнопка с крестиком закрывающая окно */

.consult_modal-close {
    position: relative;
    display: block;
}

.consult_modal-close:after {
    content: "";
    width: 20px;
    height: 20px;
    position: fixed;
    z-index: 10;
    top: 20px;
    right: 100px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2), 0 16px 20px rgba(0, 0, 0, 0.2);
    background-image: url("./Img/close_1.svg");
    background-color: #FFF;
    background-size: cover;
    animation: move 0.5s ease;
}

.consult_modal-close:before {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    content: "";
    cursor: default;
}

.banner_button_style {
    border-radius: 30px;
    border: 1px solid var(--8, #E6EDF8);
    background: var(--4, #FFF);
}

.body_block {
    width: 1920px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.materials_block {
    width: 1170px;
}

.first_block_materials {
    display: flex;
    justify-content: space-between;
}

.arrows {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.categories {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.main_category_text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-bottom: 40px;
    color: var(--1, #383838);
    /* Н-2 */
    font-family: "PTRootUIWebMedium";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    /* 120% */
}

.block_img {
    padding: 43px 0 30px 0;
    gap: 20px;
}

.block_img_3 {
    padding: 26px 15px 5px 15px;
}

.categories_block:hover {
    background: var(--7, #0046BB);
}

.categories_block:hover .cat_text {
    color: var(--4, #FFF);
    font-family: "PTRootUIWebMedium";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
}

.categories_block:hover .round_button {
    background-image: url('./Img/Blue_arrow.svg'), url('./Img/white_elips.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    width: 50px;
    height: 50px;
}

.categories_block {
    width: 370px;
    height: 370px;
    border-radius: 15px;
    background: var(--5, #F2F5F5);
    cursor: pointer;
}

.text_block {
    gap: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px 25px 35px;
}

.cat_img {
    text-align: center;
    width: 100%;
}

.cat_text {
    color: var(--1, #383838);
    font-family: "PTRootUIWebMedium";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    width: 166px;
    height: 64px;
}

.round_button {
    background-image: url('./Img/Arrow_Right.svg'), url('./Img/Ellipse_21.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    width: 50px;
    height: 50px;
}

.block_form_main {
    margin-top: 80px;
    height: 442px;
    width: 1170px;
    background-image: linear-gradient(90deg, rgba(56, 56, 56, 0.90) 0%, rgba(56, 56, 56, 0.00) 100%), url('./Img/city.svg');
    border-radius: 15px;
}

.form_blocks {
    width: 492px;
    height: 96px;
}

.h1_form {
    padding: 55px 598px 0px 80px;
    width: 492px;
    height: 96px;
    color: var(--4, #FFF);
    /* Н-2 */
    font-family: "PTRootUIWebBold";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    /* 120% */
}

.h2_form {
    width: 495px;
    height: 48px;
    padding: 10px 598px 40px 80px;
    color: var(--4, #FFF);
    font-family: "PTRootUIWebBold";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.form_buttons_style {
    width: 230px;
    height: 54px;
    border-radius: 30px;
    background: var(--4, #FFF);
}

.but_text_style {
    color: var(--7, #0046BB);
    font-family: "PTRootUIWebMedium";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding-left: 20px;
}

.form_buttons {
    width: 492px;
    padding-left: 80px;
    display: flex;
    justify-content: end;
    gap: 30px;
}

.third_block {
    width: 492px;
    padding: 37px 0px 0px 80px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 48px;
}

.personal_text {
    width: 294px;
    color: var(--4, #FFF);
    /* Вспомогательный */
    font-family: "PTRootUIWebMedium";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
}

.half_text_1 {
    color: var(--4, #FFF);
    font-family: "PTRootUIWebMedium";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-decoration-line: underline;
}

.send_butt {
    border-radius: 30px;
    background: var(--7, #0046BB);
    display: inline-flex;
    padding: 15px 35px;
    align-items: flex-start;
    gap: 10px;
}

.text_on_send_button {
    color: var(--4, #FFF);
    font-family: "PTRootUIWebMedium";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
}

.block_about {
    margin-top: 80px;
    width: 1170px;
    height: auto;
}

.elips {
    width: 799.71px;
    height: 501.729px;
    transform: rotate(-30deg);
    flex-shrink: 0;
    border-radius: 799.71px;
    border: 1px solid var(--8, #E6EDF8);
}

.orion_txt {
    padding-bottom: 40px;
    color: var(--1, #383838);
    /* Н-2 */
    font-family: "PTRootUIWebMedium";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    /* 120% */
    width: 1042px;
    height: 96px;
}

.orion {
    color: var(--1, #383838);
    font-family: "PTRootUIWebMedium";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
}

.about_under {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.left_about {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-left: 35px;
}

.mission {
    width: 385px;
    height: 183px;
    border-radius: 15px;
    background: var(--9, #F2F6FC);
}

.round_star {
    background-image: url('./Img/star.svg'), url('./Img/Ellipse_30.svg');
    background-repeat: no-repeat;
    position: absolute;
    background-size: auto;
    background-position: center;
    top: 2030px;
    left: 370px;
    width: 80px;
    height: 80px;
}

.round_v {
    background-image: url('./Img/check-.svg'), url('./Img/Ellipse_30.svg');
    background-repeat: no-repeat;
    background-size: auto;
    position: absolute;
    background-position: center;
    top: 2255px;
    left: 370px;
    width: 80px;
    height: 80px;
}

.h1_mission {
    color: var(--1, #383838);
    /* Н-4 */
    font-family: "PTRootUIWebMedium";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    /* 133.333% */
    padding: 25px 236px 5px 65px;
}

.p_mission {
    padding: 0 30px 25px 65px;
    color: var(--1, #383838);
    font-family: "PTRootUIWebMedium";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
}

.result {
    width: 385px;
    height: 183px;
    border-radius: 15px;
    background: var(--9, #F2F6FC);
}

.about_txt {
    width: 700px;
    height: 420px;
    color: var(--1, #383838);
    /* Основной текст */
    font-family: "PTRootUIWebMedium";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

.txt_0 {
    display: flex;
    padding-top: 15px;
    gap: 10px;
}

.txt_0_1 {
    padding-top: 15px;
}

.orion_2 {
    color: var(--1, #383838);
    font-family: "PTRootUIWebMedium";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
}

.house {
    margin-top: 80px;
    margin-bottom: 100px;
    width: 1920px;
    height: 643px;
    background-image: url('./Img/hous.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.house_content {
    width: 1170px;
    padding: 60px 375px 0 375px;
}

.main_house_content {
    color: var(--4, #FFF);
    /* Н-2 */
    font-family: "PTRootUIWebBold";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    /* 120% */
}

.house_txt {
    padding-top: 5px;
    color: var(--4, #FFF);
    font-family: "PTRootUIWebRegular";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.house_windows {
    padding-top: 60px;
    display: grid;
    grid-template-columns: 340px 340px 340px;
    grid-template-rows: 108px 108px;
    column-gap: 60px;
    row-gap: 30px;
    justify-content: end;
}


.window {
    border-radius: 15px;
    background: var(--2, #859FBA);
}

.windows_text_1 {
    width: 205px;
    height: 48px;
    padding: 30px 70px 30px 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.windows_text_2 {
    width: 205px;
    height: 24px;
    padding: 42px 70px 42px 65px;
}

.window_img {
    background-image: url('./Img/secure.svg'), url('./Img/Ellipse_31.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    /* top: 2500px;
    left: 200px; */
}

.wind_txt_style {
    color: var(--1, #383838);

    /* Н-6 */
    font-family: "PTRootUIWebRegular";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
}

.window:hover {
    background: var(--7, #0046BB);
    color: var(--4, #FFF);
    font-family: "PTRootUIWebRegular";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.window:hover .wind_txt_style{
    color: var(--4, #FFF);
    font-family: "PTRootUIWebRegular";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}